<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="3.0.20105.1" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi" version="4.0.20710.0" targetFramework="net40" />
  <package id="NUnit" version="2.5.10.11092" targetFramework="net40" />
  <package id="FluentAssertions" version="2.0.1" targetFramework="net40" />
  <package id="NSubstitute" version="1.5.0.0" targetFramework="net40" />
</packages>